<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">
    <div class="profile">
      <img
        src="/img/vitorroliveiraa.jpg"
        alt=""
        class="img-fluid rounded-circle"
      />
      <h1 class="text-light"><a href="../views/index">Vítor Oliveira</a></h1>
      <div class="social-links mt-3 text-center">
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://twitter.com/vitorroliveir_"
          class="twitter"
        >
          <i class="bx bxl-twitter pt-2p"></i
        ></a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://bit.ly/LeituraRelevante"
          class="facebook"
        >
          <i class="bx bxl-youtube pt-2p"></i
        ></a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="http://bit.ly/vitorroliveiraawhatsapp"
          class="instagram"
        >
          <i class="bx bxl-whatsapp pt-2p"></i
        ></a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://github.com/vitorroliveiraa"
          class="google-plus"
        >
          <i class="bx bxl-github pt-2p"></i
        ></a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://www.linkedin.com/in/vitorroliveiraa/"
          class="linkedin"
        >
          <i class="bx bxl-linkedin pt-2p"></i
        ></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li>
          <a href="#hero" class="nav-link scrollto active">
            <i class="bx bx-home"></i><span>Home</span>
          </a>
        </li>
        <li>
          <a href="#about" class="nav-link scrollto"
            ><i class="bx bx-user"></i> <span>Sobre mim</span></a
          >
        </li>
        <li>
          <a href="#resume" class="nav-link scrollto"
            ><i class="bx bx-detail"></i> <span>Certificados</span></a
          >
        </li>
        <li>
          <a href="#portfolio" class="nav-link scrollto"
            ><i class="bx bx-code-curly"></i> <span>Portfólio</span></a
          >
        </li>
        <li>
          <a href="#contact" class="nav-link scrollto"
            ><i class="bx bx-envelope"></i> <span>Contato</span></a
          >
        </li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->
