<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2>Certificados</h2>
      <p></p>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100 b-radius-8 border-0">
          <div class="position-relative d-flex-jc-ac">
            <img
              id="imgNode"
              onclick="window.open(this.src)"
              onmouseover="ShowClickEffect(this)"
              ontouchmove="ShowClickEffect(this)"
              onmouseout="RemoveClickEffect(this)"
              ontouchend="RemoveClickEffect(this)"
              src="/img/certificates/nodejsCertificate.png"
              class="card-img-top b-radius-8 border-0 position-relative"
            />
            <img
              id="clickNode"
              class="position-absolute"
              style="visibility: hidden"
              src="/img/expand.png"
            />
          </div>

          <div class="card-body">
            <h5 class="card-title">Ignite NodeJS/Typescript</h5>
            <p class="card-text">
              Trilha de conteúdos construindo uma aplicação do zero, com testes
              até o deploy.
            </p>
          </div>
        </div>
      </div>

      <div class="col" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100 b-radius-8 border-0">
          <div class="position-relative d-flex-jc-ac">
            <img
              id="imgGit"
              onmouseover="ShowClickEffect(this)"
              ontouchmove="ShowClickEffect(this)"
              onmouseout="RemoveClickEffect(this)"
              ontouchend="RemoveClickEffect(this)"
              src="/img/certificates/gitCertificate.png"
              onclick="window.open(this.src)"
              class="card-img-top b-radius-8 border-0 position-relative"
            />
            <img
              id="clickGit"
              class="position-absolute"
              style="visibility: hidden"
              src="/img/expand.png"
            />
          </div>

          <div class="card-body">
            <h5 class="card-title">Git: Do básico ao avançado</h5>
            <p class="card-text">
              Desde conceitos teóricos básicos até os mais avançados com
              exercícios práticos.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Resume Section -->
