<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>Sobre mim</h2>
    </div>

    <div class="row">
      <div class="col-lg-3" data-aos="fade-right">
        <img src="/img/vitorroliveiraa.jpg" class="img-fluid br-8" alt="" />
      </div>
      <div class="col-lg-9 pt-4 pt-lg-0 content" data-aos="fade-left">
        <p class="sizeDefault">
          Atualmente aprendendo a lidar com a tensão dos bugs, o que faz parte desse belo oficio. Me considero um entusiasta das soluções que tecnologia proporciona.

Minhas experiências com programação deram início por volta de Junho de 2019, onde comecei a estudar lógica de programação com C# (Windows Forms). Desde então já tive a oportunidade de conhecer algumas áreas, como desenvolvimento de back-end com C# e Javascript dentro do .NET Framework, desenvolvimento de front-end com HTML e CSS em páginas web, e acabei vendo um pouco de front-end mobile com XML (android nativo), banco de dados etc.

Toda essa exposição a diferentes opções de desenvolvimento, me ajudou a escolher JS como stack. Atualmente busco aperfeiçoar meus conhecimentos em Node.js e React.js.<br />
        </p>

        <div class="btn ps-0">
          <a href="/img/curriculoDefault.pdf" download>
            <img
              class="float-start me-3"
              src="/img/downloads.png"
              width="26px"
              height="26px"
              style="margin-top: 2px"
            />
            <label class="fs-5 fw-bold">Download CV</label>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
