<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
  <div class="container">
    <div class="section-title sizeDefault" id="sectionSkills">
      <h2>Skills</h2>
      <p id="describeSkill">Passe o cursor do mouse para ler.</p>
    </div>

    <div class="row skills-content">
      <div class="justify-content-center">
        <div class="col-12">
          <div
            class="col text-center d-inline-flex flex-wrap justify-content-center"
          >
            <div class="aos-init aos-animate" data-aos="fade">
              <div>
                <label
                  id="nodejs"
                  class="cursor-default"
                  style="visibility: hidden"
                  >NodeJS
                </label>
              </div>
              <div>
                <img
                  data-tech="nodejs"
                  src="/img/skills/nodejs.png"
                  class="d-inline box m-1"
                  alt="..."
                  width="85px"
                  height="85px"
                  style="padding: 12px"
                  onmouseover="TechDescription(this)"
                  onmouseout="ClearDescription()"
                />
              </div>
            </div>

            <div>
              <div>
                <label
                  id="typescript"
                  class="cursor-default"
                  style="visibility: hidden"
                  >Typescript</label
                >
              </div>
              <img
                data-tech="typescript"
                src="/img/skills/typescript.png"
                class="d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                ontouchmove="TechDescription(this)"
                onmouseout="ClearDescription()"
                ontouchend="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="expressjs"
                  class="cursor-default"
                  style="visibility: hidden"
                  >ExpressJS</label
                >
              </div>
              <img
                data-tech="expressjs"
                src="/img/skills/express.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="html"
                  class="cursor-default"
                  style="visibility: hidden"
                  >HTML</label
                >
              </div>
              <img
                data-tech="html"
                src="/img/skills/html.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="css"
                  class="cursor-default"
                  style="visibility: hidden"
                  >CSS</label
                >
              </div>
              <img
                data-tech="css"
                src="/img/skills/css.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="javascript"
                  class="cursor-default"
                  style="visibility: hidden"
                  >Javascript</label
                >
              </div>
              <img
                data-tech="javascript"
                src="/img/skills/js.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="nestjs"
                  class="cursor-default"
                  style="visibility: hidden"
                  >NestJS</label
                >
              </div>
              <img
                data-tech="nestjs"
                src="/img/skills/nestjsIcon.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="graphql"
                  class="cursor-default"
                  style="visibility: hidden"
                  >GraphQL</label
                >
              </div>
              <img
                data-tech="graphql"
                src="/img/skills/graphql.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                ontouchmove="TechDescription(this)"
                onmouseout="ClearDescription()"
                ontouchend="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="api"
                  class="cursor-default"
                  style="visibility: hidden"
                  >APIs</label
                >
              </div>
              <img
                data-tech="api"
                src="/img/skills/restApi.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="git"
                  class="cursor-default"
                  style="visibility: hidden"
                  >Git</label
                >
              </div>
              <img
                data-tech="git"
                src="/img/skills/git.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="jest"
                  class="cursor-default"
                  style="visibility: hidden"
                  >Jest</label
                >
              </div>
              <img
                data-tech="jest"
                src="/img/skills/jest2.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="csharp"
                  class="cursor-default"
                  style="visibility: hidden"
                  >C#</label
                >
              </div>
              <img
                data-tech="csharp"
                src="/img/skills/cSharp.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="docker"
                  class="cursor-default"
                  style="visibility: hidden"
                  >Docker</label
                >
              </div>
              <img
                data-tech="docker"
                src="/img/skills/docker.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="postgresql"
                  class="cursor-default"
                  style="visibility: hidden"
                  >PostgreSQL</label
                >
              </div>
              <img
                data-tech="postgresql"
                src="/img/skills/postgreSql.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="sqlserver"
                  class="cursor-default"
                  style="visibility: hidden"
                  >SQL Server</label
                >
              </div>
              <img
                data-tech="sqlserver"
                src="/img/skills/sqlServer.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="typeorm"
                  class="cursor-default"
                  style="visibility: hidden"
                  >TypeORM</label
                >
              </div>
              <img
                data-tech="typeorm"
                src="/img/skills/typeorm.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>

            <div>
              <div>
                <label
                  id="prisma"
                  class="cursor-default"
                  style="visibility: hidden"
                  >Prisma</label
                >
              </div>
              <img
                data-tech="prisma"
                src="/img/skills/prismaHD.png"
                class="rounded d-inline box m-1"
                alt="..."
                width="85px"
                height="85px"
                style="padding: 12px"
                onmouseover="TechDescription(this)"
                onmouseout="ClearDescription()"
              />
            </div>
          </div>

          <div
            class="col text-center d-inline-flex flex-wrap justify-content-center"
          ></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Skills Section -->
