<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>Sobre mim</h2>
    </div>

    <div class="row">
      <div class="col-lg-3" data-aos="fade-right">
        <img src="/img/vitorroliveiraa.jpg" class="img-fluid br-8" alt="" />
      </div>
      <div class="col-lg-9 pt-4 pt-lg-0 content" data-aos="fade-left">
        <p class="sizeDefault">
          Atualmente aprendendo a lidar com a tensão dos bugs — com sorriso no
          rosto 😆 —, o que faz parte desse belo oficio. Brincadeiras a parte,
          me considero um entusiasta das soluções que tecnologia proporciona e
          isso é demais! Ultimamente tenho focado mais no back-end das
          aplicações e sempre que possível, refrescando meus conhecimentos no
          front-end.<br />
          Minhas experiências com programação deram início por volta de Junho de
          2019, onde comecei a estudar lógica de programação com C# (Windows
          Forms). Desde então já tive a oportunidade de conhecer algumas áreas,
          como desenvolvimento de back-end com C# e Javascript dentro do
          ecossistema .NET, desenvolvimento de front-end com HTML e CSS em
          páginas web, e acabei vendo um pouco de front-end mobile com XML
          (android nativo), banco de dados e por ai vai.<br />
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->
