<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    <div class="section-title">
      <h2>Contato</h2>
      <p></p>
    </div>

    <div class="row d-flex justify-content-center" data-aos="fade-in">
      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form
          action="/contact"
          method="POST"
          class="node-email"
          id="contactForm"
        >
          <div class="row">
            <div class="form-floating col-md-6 mb-4">
              <input
                id="name"
                type="text"
                name="name"
                class="form-control"
                placeholder="Seu nome"
                required
              />
              <label for="name" class="">Nome</label>
            </div>
            <div class="form-floating col-md-6 mb-4">
              <input
                id="email"
                type="email"
                name="email"
                class="form-control"
                placeholder="name@example.com"
                required
              />
              <label for="email">Email</label>
            </div>
          </div>

          <div class="form-floating mb-4">
            <input
              id="subject"
              type="text"
              name="subject"
              class="form-control"
              placeholder="..."
              required
            />
            <label for="subject">Assunto</label>
          </div>

          <div class="form-floating">
            <textarea
              id="message"
              name="message"
              class="form-control h-12r"
              placeholder="..."
              required
            ></textarea>
            <label for="name">Mensagem</label>
          </div>

          <div class="my-3">
            <p id="status" hidden></p>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-info" id="btnSendEmail">
              Enviar mensagem
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
