<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <canvas id="canvas"></canvas>
  <div class="hero-container" data-aos="fade-in">
    <div id="divCard">
      <p style="margin: 0;">Olá, eu sou</p>
      <h1>Vítor Oliveira.</h1>
      <p><span class="typed" data-typed-items="Software Developer."></span></p>
    </div>
  </div>
</section>
<!-- End Hero -->